*{
  margin : 0;
  padding: 0;
}
body{
  height: 100vh;
  background-image: linear-gradient(135deg, #ff7e5f 0%, #feb47b 100%);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}